[Desktop Entry]
Name=Startup Script
Exec=/home/nagisa/ros2_ws/src/autostart/autostart
Terminal=true
Type=Application
Categories=Utility;Application;  
StartupNotify=true
